<ion-app>

  <ion-menu contentId="main-content" menuId="idmenu">
    <ion-header>
      <ion-toolbar>
        <ion-title (click)="cerrarMenu()">Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle *ngFor="let i of app_pages">
          <ion-item [routerLink]="i.adressPage" detail="true">
            <ion-icon slot="start" [name]="i.icon"></ion-icon>
            {{i.nombre}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>
