<ion-header [translucent]="">
  <ion-toolbar class="header-color">
    <ion-title class="titulo" mode="md">Registro</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
        text="Volver"></ion-back-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="contenido">
  <div>
    <!--
    <ion-header collapse="condense" >
      <ion-toolbar color="#e0ac08">
        <ion-title size="large" class="colorletra1">Iniciar sesión</ion-title>
      </ion-toolbar>
    </ion-header>-->

    <ion-card class="fondocard">
      <ion-card-header>
          <ion-card-title mode="md" class="card_titulo">Ingresa tus datos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form>

          <ion-item class="item" mode="md" lines="full">
            <ion-label position="fixed">Jornada:</ion-label>
            <ion-select [(ngModel)]="alumno.jornada" name="select_jornada" placeholder="Seleccionar jornada">
              <ion-select-option value="d">Diurna</ion-select-option>
              <ion-select-option value="v">Vespertina</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item class="item" mode="md">
            <ion-label position="floating">Nombre: </ion-label>
            <ion-input type="text" placeholder="Juan Perez" 
                      name="nombre" [(ngModel)]="alumno.nombre"></ion-input>
          </ion-item>

          <ion-item class="item" mode="md">
            <ion-label position="floating">Email: </ion-label>
            <ion-input type="email" placeholder="marulete@duocuc.cl" 
                      name="email" [(ngModel)]="alumno.email"></ion-input>
          </ion-item>

          <ion-item class="item" mode="md">
            <ion-label position="floating">Edad: </ion-label>
            <ion-input type="number" placeholder="21" 
                      name="edad" [(ngModel)]="alumno.edad"></ion-input>
          </ion-item>

          <ion-item class="item" mode="md">
            <ion-label position="floating">Password: </ion-label>
            <ion-input type="password" placeholder="ConstraseñaSecreta123"
                        name="password" [(ngModel)]="alumno.password"></ion-input>
          </ion-item>
          <br>
          <ion-button (click)="Enviar()" expand="block" fill="solid" color="warning" shape="round" size="default"
                      style="margin-top: 5%;">
            Registrar
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
