<ion-header [translucent]="true">
  <app-encabezado></app-encabezado>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RegistrApp</ion-title>
    </ion-toolbar>
</ion-header>

  <div id=intro>
    <strong>Bienvenid@!</strong>
    <p>Desde esta aplicación podrás escanear un Código QR provisto por tu docente para registrar tu asistencia a clases!</p>
    
    <p>Si eres docente, podrás generar un Código QR vinculado a la clase actual para que tus alumnos puedan escanearlo y registrar su asistencia.</p>
  </div>

  <div id=banner>
    <strong>Accede para usar esta aplicación:</strong>
    <ion-button routerLink="/login" routerDirection="forward" expand="block" color="success">Iniciar sesión</ion-button>
  </div>
  <div id=banner>
    <strong>También puedes registrarte aquí:</strong>
    <ion-button routerLink="/signup" routerDirection="forward" expand="block" color="success">Registrarse</ion-button>
  </div>
  <div id=banner>
    <strong>¿Necesitas algo más?</strong>
    <ion-button href="https://www.duoc.cl/" expand="block" color="tertiary"><ion-icon name="globe-outline" slot="end"></ion-icon>Ir a Duoc.cl</ion-button>

    <ion-button href="https://experienciavivo.duoc.cl/" expand="block" color="success"><ion-icon name="school-outline" slot="end"></ion-icon>Abrir app de Vivo Duoc</ion-button>
    <ion-button href="https://campusvirtual.duoc.cl/webapps/login/" expand="block" color="success"><ion-icon name="school-outline" slot="end"></ion-icon>Abrir app de Blackboard</ion-button>
  </div>
</ion-content>

<ion-footer>
  <app-footer id="footer"></app-footer>
</ion-footer>
