#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#intro {
  text-align: center;
  margin-top: 15%;
}

#intro strong {
  font-size: 20px;
  line-height: 26px;

}

#intro p {
  font-size: 15px;
  margin: 1%;
  line-height: 22px;
}

#banner {
  text-align: center;
  margin-top: 10%;
}

#banner img {
  padding-left: 5;
  padding-right: 5;
  margin-top: 5%;
}

#footer {
  margin-top: 90%;
  padding-top: 90%;
}