<ion-header>
  <ion-toolbar class="header-color">
    <ion-title class="titulo">RegistrAPP</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="contenido" [fullscreen]="false">
    <img class="logo" src="assets/icon/RegistrApp.png">
    
    <ion-button class="buttons" color="secondary" routerLink="/login">Login</ion-button>

    <ion-button class="buttons" color="warning" routerLink="/registro">Registrarse</ion-button>
</ion-content>