<ion-header>
  <ion-toolbar class="header-color">
    <ion-title class="titulo">Acerca de la app</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="contenido">

  <ion-card class="carta1">
    <ion-card-header>
      <ion-card-title style="color: white;">RegistrAPP</ion-card-title>      
    </ion-card-header>
    <ion-card-content class="texto">
      <ion-card-subtitle style="color:white">¿Para qué sirve?</ion-card-subtitle>
      Buscamos facilitar el registro de asistencia en las salas de clases en formato presencial,
        evitando una mala experiencia para los docentes así como los alumnos, logrando que el proceso
        de registro de asistencia sea mucho mas sencillo mediante codigos QR
      <br><br>
      <img src="/assets/codigo-qr-removebg-preview.png">
    </ion-card-content>
  </ion-card>

    <ion-card class="carta1">
      <ion-card-header>
        <ion-card-title style="color: white;">¿Quienes desarrollan esta solución?</ion-card-title>
        
      </ion-card-header>
      <ion-card-content class="texto">
        Somos dos alumnos de Duoc aprendiendo el lenguaje Angular/Ionic.
        Nuestros nombres son Camilo Canales y Agustin Valenzuela.
        <br><br>
        <img src="/assets/Logo-DUOC-transparente.png">
      </ion-card-content>
    </ion-card>







</ion-content>